<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Developer</th>
        <th>Release Date</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game : ${games}">
        <td th:text="${game.id}"></td>
        <td th:text="${game.title}"></td>
        <td th:text="${game.genre}"></td>
        <td th:text="${game.price}"></td>
        <td th:text="${game.developer}"></td>
        <td th:text="${game.releaseDate}"></td>
        <td>
            <img th:src="${game.imageUrl}" alt="Game Image" style="width: 100px; height: auto;"/>
        </td>
        <td>
            <a th:href="@{/admin/update/{id}(id=${game.id})}">Edit</a>
            <form th:action="@{/admin/delete/{id}(id=${game.id})}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a href="/admin/add">Add New Game</a>
<hr>
<a href="/">Store</a>
